body{
   font-family: 'Roboto', sans-serif;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* ---- Header Top ---- */

.header-top{
   display: flex;
   justify-content: center;
   height: 70px;
}

.header-top > .container{
   width: 85%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-top nav > ul{
   list-style: none;
}

.header-top nav > ul > li{
   display: inline-flex;
   align-items: center;
}

.header-top nav > ul > li:not(:last-of-type){
   margin-right: 20px;
}

.header-top nav > ul > li > i{
   font-size: 8px;
   margin-left: 3px;
   color: #171520;
}

.header-top a{
   text-decoration: none;
   color: #171520;
}

.h-logo {
   margin-right: auto;
   margin-left: 200px;
}

.h-logo img{
   width: 120px;
}

.utility{
   display: flex;
   align-items: center;
}

.utility i{
   color: #171520;
}

.utility .chart{
   position: relative;
}

.utility .chart .items{
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #1fad95;
   position: absolute;
   top: -8px;
   right: -5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.utility .chart .items span{
   color: white;
   font-size: 10px;
}

.utility > a {
   margin-right: 20px;
}

.search{
   background-color: #F5F5F5;
   border-radius: 5px;
   padding: 10px;
}

.search input{
   border: none;
   background-color: #F5F5F5;
   outline: none;
}

.search i{
   border: none;
   color: #1fad95;
   font-size: 12px;
}

/* ---- Header Bottom ---- */

.header-bottom{
   height: 700px;
   background-image: url("../img/jumbo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.jumbotron{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.jumbotron h1{
   margin-bottom: 20px;
   margin-top: 10px;
}

.jumbotron h1, .jumbotron h2{
   color: white;
}

.download{
   background-color: white;
   padding: 15px 35px;
   border-radius: 5px;
}

.download {
   text-decoration: none;
}

.download > span {
   color: #1fad95;
}

.download:hover {
   background-color: #1fad95;
}
.download:hover.download > span{
   color: white;
}

.right-utility{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   padding: 10px 5px;
   border-radius: 3px;
   position: absolute;
   top: 20%;
   right: 0;
}

.right-utility a:not(:last-of-type){
   margin-bottom: 15px;
}

.right-utility a{
   text-decoration: none;
   color: black;
}

.bg-gd-gr{
   background: linear-gradient(to bottom,
      white 0%,
      #F7F7F7 50%,
      #F6F6F8 100%);
}

section{
   width: 60%;
   margin: 0 auto;
   margin-bottom: 130px;
}
/* ----- Learn ----- */

.learn{
   margin-top: 130px;
   display: flex;
   justify-content: space-between;
}

.culture{
   width: 30%;
}

.circle{
   background-color: #ECC5AB;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.circle2{
   background-color: white;
   width: 80%;
   height: 80%;
   border-radius: 50%;
}

.learn-images{
   position: relative;
}

.learn-img{
   width: 400px;
   border-radius: 5px;
}

.blue-girl{
   width: 120px;
   height: 120px;
   border-radius: 3px;
   position: absolute;
   top: -50px;
   right: -50px;
}

.blue-circle{
   width: 60px;
   position: absolute;
   bottom: -35px;
   right: 50px;
}

.dots{
   width: 60px;
   position: absolute;
   top: -50px;
   right: 35px;
   z-index: -1;
}

.culture p{
   margin: 20px 0;
}

.culture h1{
   margin-top: 20px;
}

.culture a{
   text-decoration: none;
   border-bottom: 2px solid #E0E0E0;
}

.statistics{
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.data{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.data:not(:last-of-type){
   margin-right: 80px;
}

.data span:first-child{
   font-size: 30px;
   margin-bottom: 10px;
}

/* ----- Upgrade ----- */

.upgrade{
   display: flex;
   justify-content: space-between;
}

.upgrade-text{
   width: 40%;
}

.upgrade-images{
   position: relative;
}

.upg-img{
   width: 550px;
   border-radius: 5px;
}

.dots-upg{
   width: 80px;
   position: absolute;
   bottom: -50px;
   right: -10px;
   z-index: -1;
}

.dots-rnd{
   width: 80px;
   position: absolute;
   top: 20px;
   left: -50px;
   z-index: -1;
}

.upgrade-text p{
   margin: 20px 0;
}

.upgrade-text h1{
   margin-top: 20px;
}

.upgrade-text a{
   text-decoration: none;
   border-bottom: 2px solid #E0E0E0;
}

.upgrade .circle{
   margin-bottom: 20px;
}

.yt{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 80px;
}

/* ----- Courses ----- */

.courses{
   padding-bottom: 60px;
}

.join{
   text-align: center;
}

.join h1{
   margin-top: 10px;
   margin-bottom: 50px;
}

.card-course{
   flex-basis: 300px;
   border-radius: 5px;
   position: relative;
   background-color: white;
   cursor: pointer;
}

.card-course:hover .course-info > h3{
   color: #1fad95;
}

.card-course img{
   width: 300px;
   border-radius: 5px;
}

.course-details{
   display: flex;
}

.course-details div:first-child{
   margin-right: 20px;
}

.course-details i{
   margin-right: 5px;
}

.course-details span{
   font-size: 12px;
}

.offers{
   display: flex;
   justify-content: space-between;
}

.course-info{
   padding: 10px 20px;
}

.course-info h3{
   margin-top: 10px;
   margin-bottom: 20px;
}

.free{
   background-color: #EE7455;
   width: 60px;
   height: 35px;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 2px;
   color: white;
   font-weight: bold;
   position: absolute;
   top: 0;
   right: 0;
}

.blue-dots{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 40px;
   margin-bottom: 50px;
}
.blue-dots a{
   color: black;
}

.blue-dots a:not(:last-of-type){
   margin-right: 15px;
}

.blue-dots a:not(:first-of-type){
   color: lightgrey;
   font-size: 10px;
}

.blue-dots a:first-of-type{
   font-size: 14px;
}

.view-courses{
   text-align: center;
}

.view-courses a{
   text-decoration: none;
   border-bottom: 2px solid #E0E0E0;
}

/* ----- Testimonials ----- */

.test-container{
   display: flex;
}

.test-box{
   box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
   padding: 30px;
   border-radius: 5px;
   margin-left: 50px;
}

.test-text p{
   margin: 20px 0;
}

.test-text h1{
   margin-top: 20px;
}

.test-text a{
   text-decoration: none;
   border-bottom: 2px solid #E0E0E0;
}

.test-box p{
   margin-bottom: 30px;
   margin-top: 20px;
}


.test-box img{
   border-radius: 50%;
   width: 70px;
   margin-right: 20px;
}

.test-01{
   display: flex;
   align-items: center;
}

.name > div{
   margin-top: 10px;
}

/* ----- People ----- */

.people{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.people-text{
   width: 40%;
}

.people-images{
   position: relative;
}

.people-img{
   width: 450px;
}

.dots-people{
   width: 120px;
   position: absolute;
   bottom: -65px;
   right: 145px;
   z-index: -1;
}

.dots-rnd-2{
   width: 110px;
   position: absolute;
   bottom: 200px;
   left: -50px;
   z-index: -1;
}

.lines{
   width: 110px;
   position: absolute;
   bottom: 0px;
   left: -200px;
   z-index: -1;
}

.people-text h1{
   margin-top: 20px;
}

.people-text p{
   margin: 20px 0;
}

.people-text > div:first-child{
   margin-bottom: 20px;
}

.guide{
   margin-top: 20px;
   background-color: #2fab97;
   font-weight: bold;
   border-radius: 5px;
   font-size: 14px;
   padding: 15px 45px;
   text-align: center;
   text-decoration: none;
}

.guide span{
   color: white;
}

/* ----- Blog ----- */

.blog{
   padding: 50px 0;
}

.bg-gr{
   background-color: #F6F6F8
}

.intro{
   text-align: center;
}

.intro h1{
   margin-top: 10px;
   margin-bottom: 50px;
}

.card-blog{
   flex-basis: 300px;
   border-radius: 5px;
   position: relative;
   cursor: pointer;
}

.card-blog img{
   width: 300px;
   border-radius: 5px;
}

.blog-details{
   display: flex;
}

.blog-details div:first-child{
   margin-right: 20px;
}

.blog-details i{
   margin-right: 5px;
}

.blog-details span{
   font-size: 12px;
}

.blogs{
   display: flex;
   justify-content: space-between;
}

.blog-info{
   margin-top: 10px;
}

.blog-info h3{
   margin-top: 10px;
   margin-bottom: 20px;
}


/* ----- Newsletters ----- */

.newsletters{
   display: flex;
   justify-content: center;
   position: relative;
}

.subscribe{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.subscribe p{
   margin-top: 20px;
   margin-bottom: 40px;
}

.sub-email{
   background-color: #F6F6F8;
   padding: 15px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.sub-email input{
   border: none;
   outline: none;
   background-color: #F6F6F8;
   width: 300px;
}

.sub-button{
   background-color: #2fab97;
   padding: 15px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   color: white;
   font-weight: bold;
   font-size: 14px;
   text-decoration: none;
}

.subscribe .form{
   display: flex;
}

.circle-v2{
   background-color: #2fab97;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 0;
   top: 50px;
}

.d-curv{
   width: 150px;
   position: absolute;
   right: 0;
   top: -50px;
}

.n-shape{
   height: 100px;
   position: absolute;
   right: 0;
   top: 20px;
}

/* ----- Footer ----- */

footer{
   background-color: #171621;
   color: #8B8B90;
   padding: 50px 0;
}

footer ul{
   list-style: none;
}

footer a{
   text-decoration: none;
   color: #8B8B90;
}

.f-container{
   width: 60%;
   margin: 0 auto;
}

.f-el{
   display: flex;
   justify-content: space-between;
}

.address li:nth-of-type(1){
   color: white;
   font-size: 18px;
   margin-bottom: 10px;
}

.address li:nth-of-type(3){
   margin: 20px 0;
}

.address li:nth-of-type(4){
   margin-bottom: 40px;
}

footer i{
   font-size: 20px;
   color: #8B8B90;
}

footer .address a:not(:last-of-type){
   margin-right: 30px;
}

.explore li:nth-of-type(1){
   color: white;
   font-size: 18px;
}

.explore > li:not(:last-of-type){
   margin-bottom: 10px;
}

.information > li:not(:last-of-type){
   margin-bottom: 10px;
}

.information li:nth-of-type(1){
   color: white;
   font-size: 18px;
}

.copy{
   margin-top: 50px;
   text-align: center;
}

.circle-arrow{
   width: 50px;
   height: 50px;
   background-color: #2fab97;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   margin-right: 10px;
}

.circle-arrow > i{
   color: white;
}

.green{
   color: #2fab97;
}

.grey{
   color: #171520;
}
